%table
  %tr
    %th Example
    %th Designation
  %tr
    %td &ltr:search_box/&gt
    %td Textbox for research.
  %tr 
    %td &ltr::region value="fr"/&gt
    %td Specifies which regional (country) search product to query.
  %tr 
    %td &ltr:sites value="abc.com","cnn.com"/&gt
    %td Restrict to a set of pre-defined sites.
  %tr 
    %td &ltr:web_filter value="-porn" /&gt
    %td This argument filters out results flagged as containing specific kinds of content.
  %tr 
    %td &ltr:images_filter value="-porn" /&gt
    %td This argument filters out results flagged as containing specific kinds of content.
  %tr 
    %td &ltr:yahoo_boss type="web" /&gt
    %td
  %tr 
    %td &ltr:dimensions value="small" /&gt
    %td all (default), small, medium, large, wallpaper, widewallpaper
  %tr 
    %td &ltr:refererurl value="http://www.foo.com/~foo/images.htm" /&gt
    %td Returns all image objects with this referring URL.
  %tr 
    %td &ltr:url value="http://www.foo.com/~foo/images/mydog.gif" /&gt
    %td Returns this exact result.
  %tr 
    %td &ltr:start /&gt
    %td
  %tr 
    %td &ltr:count /&gt
    %td
  %tr 
    %td &ltr:lang /&gt
    %td
  %tr 
    %td &ltr:format /&gt
    %td
  %tr 
    %td &ltr:callback /&gt
    %td
  %tr 
    %td &ltr:view /&gt
    %td
  %tr 
    %td &ltr:filter /&gt
    %td
  %tr 
    %td &ltr:age value="30d" /&gt
    %td Used for news search. "s", "m", "h", "d" and "w" representing seconds, minutes, hours, days and weeks